@{
    ViewBag.Title = "Home Page";
}


<center>
    <div class="jumbotron" style="background-image: url('@Url.Content("~/Images/default.png")')">
        <h1 style="color:red;">Library</h1>
        <p class="lead">

        </p>
        <p><a href="https://www.rokomari.com/book" class="btn btn-success btn-lg">Browse Books &raquo;</a></p>
    </div>
</center>

<div class="row">


    <center>
        <div class="col-md-4">
            <h2>Getting Membership</h2>
            <p>

            </p>
            <p><a class="btn btn-danger btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </center>
    <center>
        <div class="col-md-4">
            <h2>Get more Books</h2>
            <p>

            </p>
            <p><a class="btn btn-danger btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
    </center>
    <center>
        <div class="col-md-4">
            <h2>Reading Web</h2>
            <p>

            </p>
            <p><a class="btn btn-danger btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </center>

</div>